/* VARIABLE DECLARATION & GLOBAL STYLING */
:root {
	--primary-font-size: 1rem;
	--heading-font-size: 1.65rem;
	--small-font-size: 0.8rem;
	--text-muted-color: rgba(0, 0, 0, 0.8);
	--primary-color: #980730;
	--primary-hover-color: #5e001b;
	--primary-color-muted: #98073010;
	--secondary-color: #07986f;
	--box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	--rounded-borders: 24px;
	--semi-rounded-borders: 8px;
	--section-padding: 24px;
	--small-gap: 16px;
	--large-section-padding: 64px;
	--font-family: "Albert Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 110%;
}

small {
	opacity: 75%;
}

body {
	font-family: var(--font-family);
}
